.visually-hidden {
  //? 마크업을 하다보면 우리 눈에는 텍스트 또는 아이콘(이)가 존재하지 않지만 텍스트를 브라우저에게 전달해야하는 케이스들이 생긴다.(시각적으로 불편한 분들)
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// 공용 css를 만들었는데 어떤 페이지에는 있는 게 있고 어떤 곳은 없는 부분이 있을 수 있다.
// 이때 공용으로 만들었는데 한 가지 다른 부분 때문에 새로 만드는 것은 너무도 아깝다. 대표적으로 (nav바)
// Mobile에는 있고 Tablet에는 없고, Desktop에도 없고

.sm-only {
  //? Mobile
  @media screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

.md-only {
  //? Tablet
  @media screen and (min-width: $md-breakpoint - 1) {
    // md-breakpoint는 768px인데 지금 이 코드는 아무리 커봤자 767px까지 적용되어야 한다.
    display: none !important;
  }

  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.lg-only {
  //? Desktop
  @media screen and (min-width: $lg-breakpoint - 1) {
    // 1199px 까지만
    display: none !important; // display: none을 먹여라 !
  }
}

.sm-hidden {
  //! Mobile 구간에서는 display:none 해라.
  @media screen and (max-width: $md-breakpoint - 1) {
    // 모바일 시안일때
    display: none !important; // display: none을 먹여라!
  }
}

.md-hidden {
  //! Tablet 구간에서는 display:none 해라.
  @media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint -1) {
    // 모바일 시안일때
    display: none !important; // display: none을 먹여라!
  }
}

.lg-hidden {
  //! Desktop 구간에서는 display:none 해라.
  @media screen and (min-width: $lg-breakpoint) {
    // 모바일 시안일때
    display: none !important; // display: none을 먹여라!
  }
}
