.gnb {
  position: relative;
  border-bottom: 1px solid $border;
  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-search-button {
      margin-right: 4px;
    }
  }

  &-icon-button {
    @include flexbox;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $secondary;
  }
  &-menu-button {
    color: $blue;
  }
  .logo {
    @include postion-center;
    a {
      display: block;
    }
    img {
      display: blcok;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    .gnb-left {
      @include flexbox(start);
    }
    .gnb-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;
        .gnb-icon-button {
          margin-right: 8px;
        }
      }
    }

    &-wrapper {
      height: 80px;
    }
    .logo {
      position: static;
      margin-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;
      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    //? 1200px
    &-right {
      .input-group {
        margin-right: 24px;
        width: 265px;
      }
    }
  }
}
