.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto;
  background-color: $white;
  border-bottom: 1px solid $border;
  &-list {
    @include inline-flexbox;
    margin-left: -#{$grid-margin};
    padding-left: 7px;
    height: $lnb-height-sm;
    white-space: nowrap;
  }
  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;
    &-list {
      margin-left: 0;
      padding-left: 0;
      height: auto;
      border-bottom: none;
    }
    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
